node_modules
notes.txt
package-lock.json
composer.lock
.gitattributes
*.log
.DS_Store
.nvmrc
.php-cs-fixer.*
.tm_properties
*.lock
tmp
phpdoc.xml
.phpdoc
todos.txt
*-no-sync.php
phpdoc-templates
.phpdoc
